package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>MailBeacon</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body class="h-screen flex items-start justify-center">
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
